input[type="date"] {
  position: relative;
  
  &::-webkit-calendar-picker-indicator {
    position: absolute;
    width: 100%;
     opacity: 0; 
  }
}

textarea {
  padding: 1rem;
}

input, textarea {
  &:focus, &:focus-within, &:hover {
    border: 1px solid var(--brand-light);
  }

  &[required] + .error {
   
    display: flex;
    color: var(--danger);
    font: var(--text-xs);
    
    margin-top: .5rem;
    gap: .5rem;
  }

  &:invalid {
   border:1px solid var(--danger) ;
  }
 
  &:not(:focus):valid + .error {
    display: none;
  }
  
}

